warnings
os
glob
pathlib

# Langchain OpenAI and Google Generative AI
langchain-openai==0.0.2.post1
langchain-google-genai==0.0.6

# Langchain components
langchain-core==0.1.16
langchain-community==0.0.15

# Streamlit for the web app
streamlit==1.28.0

# Additional libraries that might be used in Langchain and Streamlit components
openai==1.8.0
google-ai-generativelanguage==0.4.0
chroma-hnswlib==0.7.3

# Document loaders and text splitters
PyPDF2==3.0.1
docx2txt==0.8
pandas==2.2.0

# Cohere and HuggingFace integrations
cohere==4.47
huggingface-hub==0.20.3

# Other necessary libraries
numpy==1.26.4
altair==5.2.0
fsspec==2024.2.0
